@font-face {
  font-family: FiraCodeRegular;
  src: url('../fonts/FiraCode-Regular.ttf');
}

@font-face {
  font-family: FiraCodeBold;
  src: url('../fonts/FiraCode-SemiBold.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --border-color: hsl(0deg 0% 0% / 0.05);
  --shadow-color: hsl(0deg 0% 0% / 0.10);
}

html {
  background: hsl(240deg 20% 98%);
  color: rgb(22, 22, 10);
  font-family: FiraCodeRegular;
  font-size: 18px;
  margin: 64px 8px;
}

body {
  font-size: 1rem;
  margin: 8px auto;
  max-width: 768px;
}

blockquote {
  background: var(--border-color);
  border-radius: 4px;
  margin-bottom: 0;
  padding: 8px;
}

blockquote p {
  margin: 0;
  padding: 0;
}

figure:not(:last-of-type) {
  margin-bottom: 32px;
}

figcaption {
  margin: 16px;
}

p, cite {
  display: block;
}

cite {
  margin-left: 24px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: inside;
}

li {
  background: #F8F8F8;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin-bottom: 4px;
}

li p {
  margin: 0;
}

h1 {
  font-family: FiraCodeBold;
  font-size: 1.25rem;
  margin-bottom: 16px;
}

h2 {
  font-family: FiraCodeBold;
  font-size: 1rem;
  margin-bottom: 16px;
}

h4 {
  font-size: 1rem;
  font-weight: normal;
}

footer {
  font-size: .825rem;
  margin-bottom: 32px;
}

footer p {
  margin: 4px;
  padding: 0;
}

a {
  color: black;
}

hr {
  background: var(--border-color);
  border: none;
  height: 1px;
  margin: 24px 0;
}

.logo {
  margin-bottom: 16px;
  width: 32px;
}


time {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  color: rgb(56, 56, 56);
  display: inline-block;
  font-size: .725rem;
  font-weight: 600;
  margin-bottom: 4px;
  text-decoration: none;
  padding: .125rem .25rem;
}

main {
  background: #FFF;
  box-shadow: 1px 2px 64px var(--shadow-color);
  border: 1px solid var(--border-color);
  margin-bottom: 16px;
  padding: 32px 16px;
}

iframe {
  border: none;
  height: 400px;  
}

.tool {
  margin-right: 8px;
}
